<!DOCTYPE html>
<html lang="en">
<head>
  <title>Asian art history quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
  
  <style type="text/css">
    img.mainQuiz {max-width:500px; max-height:500px;}    
  </style>
  
  
  <script type="text/javascript">
      var app = angular.module('HelloWorldApp', []);
      app.controller('HelloWorldController', function($scope){
         $scope.pieces = [
          {title:"tomb of the first emperor of qin",period:"qin dynasty",country:"china",material:"terra cotta",image:"1.jpg"},
          {title:"taotie mask",period:"western zhou dynasty",country:"china",material:"bronze",image:"2.jpg"},
          {title:"tripod wine vessel with design of zoomorphic masks",period:"shang dynasty",country:"china",material:"bronze",image:"3.png"},
          {title:"covered wine vessel with design of zoomorphic masks and animal headed handles",period:"western zhou dynasty",country:"china",material:"bronze",image:"4.jpg"},
          {title:"preface to the orchard pavilion", artist:"wang xizhi", period:"eastern jin dynasty", material:"ink on paper", country:"china", image:"5.jpg"},
          {title:"admonitions of the court instructress to palace ladies", artist:"gu kaizhi", period:"eastern jin dynasty", material:"ink on paper", country:"china",image:"6.jpg"},
          {title:"ashokan pillar at topra", period:"mauryan dynasty", material:"sandstone", country:"india",image:"7.jpg"},
          {title:"lion capital from ashokan column", period:"mauryan dynasty", material:"sandstone", country:"india",image:"8.jpg"},
          {title:"great stupa at sanchi", period:"sunga",material:"stone",country:"india",image:"9.jpg"},
          {title:"great departure from east gate of great stupa at sanchi", period:"sunga", material:"stone",country:"india",image:"10.jpg"},
          {title:"gandharan-style standing shakyamuni", period:"kushan empire", material:"stone", country:"india",image:"11.jpg"},
          {title:"guptan-style shakyamuni", period:"guptan empire", material:"stone", country:"india",image:"12.png"},
          {title:"ajanta cave 10", period:"sunga period",country:"india",image:"13.jpg"},
          {title:"avalokitesvara as padmapani", period:"guptan empire",country:"india",image:"14.jpg"},
          {title:"dunhuang cave 254",period:"northern wei dynasty",country:"china",image:"15.png"},
          {title:"colossal seated shakyamuni from yungang cave 20",period:"northern wei dynasty",country:"china",image:"16.png"},
          {title:"binyang central cave with shakyamuni",period:"northern wei dynasty",country:"china",image:"17.png"},
          {title:"i dont know this one"},
          {title:"longmen caves at luoyang",period:"tang dynasty",country:"china",image:"18.png"},
          {title:"mahavairocana",period:"tang dynasty",country:"china",image:"19.png"},
          {title:"guardian figures",period:"tang dynasty",country:"china",image:"20.png"},
          {title:"horyuji",material:"stone foundation and wooden building",period:"asuka period",country:"japan",image:"21.png"},
          {title:"shaka triad",material:"bronze",period:"asuka period", country:"japan",image:"22.png"},
          {title:"parinirvana from horyuji", period:"nara period", country:"japan",image:"23.png"},
          {title:"daibutsu from todaji", period:"nara period", country:"japan",material:"bronze",image:"24.png"},
          {title:"phoenix hall at byodo-in",period:"heian period",country:"japan",image:"25.png"},
          {title:"amida",artist:"jocho",period:"heian period",country:"japan",material:"gilt wood",image:"26.png"},
          {title:"muchaku and seshin", artist:"unkei", period:"kamakura period",country:"japan",material:"wood",image:"27.png"},
          {title:"kashiwagi scene from tale of genji scroll", period:"heian period", material:"ink and color on paper", country:"japan",image:"28.png"},
          {title:"minori scene from tale of genji scroll", period:"heian period", material:"ink and color on paper", country:"japan",image:"29.png"},
          {title:"opening sequence from ban dainagon ekotobo",period:"heian period",material:"ink and color on paper",country:"japan",image:"30.png"},
          {title:"the makato household from ban dainagon ekotoba",period:"heian period",material:"ink and color on paper",country:"japan",image:"31.png"},
          {title:"the chase scene from choju giga",period:"heian period",material:"ink and color on paper",country:"japan",image:"32.jpg"},
          {title:"frog priest from choju giga",period:"heian period",material:"ink and color on paper",country:"japan",image:"33.jpg"},
          {title:"shiva as destroy of the three cities of the demons",period:"chola dynasty",material:"sandstone",country:"india",image:"34.png"},
          {title:"shiva nataraja",period:"chola dynasty",material:"bronze",country:"india",image:"35.png"},
          {title:"kandarya mahadeva temple",period:"chandella empire",material:"sandstone",country:"india",image:"36.png"},
          {title:"seokguram",period:"untied silla kingdom",material:"sandstone",country:"india",image:"37.png"},
          {title:"seated buddha",period:"saliendra dynasty",country:"indonesia",image:"38.png"},
          {title:"borobudur",period:"saliendra dynasty",country:"indonesia",image:"39.jpg"},
          {title:"angkor wat",period:"khmer empire",country:"cambodia",image:"40.jpg"},
          {title:"churning the sea of milk",period:"khmer empire",country:"cambodia",image:"41.jpg"},
          {title:"bayon temple",period:"khmer empire",country:"cambodia",image:"42.jpg"}
         ];
         
         var a = Math.floor( Math.random()* $scope.pieces.length);

         $scope.quizMode = true;
         
         $scope.originalLength = $scope.pieces.length;
         $scope.current = $scope.pieces[a];
         $scope.currentIndex= a;
         
         $scope.next = function(){
             var a = Math.floor( Math.random()* $scope.pieces.length);
             $scope.current = $scope.pieces[a];
             $scope.currentIndex = a;
             $scope.phaseOne = false;
         };
         
         $scope.submitGuess = function(){
              $scope.phaseOne = true;
              $scope.correct = []
              $scope.correct[0] = ($scope.guess.title == $scope.current.title);
              $scope.correct[1] = ($scope.guess.artist == $scope.current.artist);
              $scope.correct[2] = ($scope.guess.country == $scope.current.country);
              $scope.correct[3] = ($scope.guess.period == $scope.current.period);
              $scope.correct[4] = ($scope.guess.material == $scope.current.material);
              
              $scope.allCorrect = ($scope.correct[0] || !$scope.current.title) &&
                ($scope.correct[1] || !$scope.current.artist) &&
                ($scope.correct[2] || !$scope.current.country) &&
                ($scope.correct[3] || !$scope.current.period) &&
                ($scope.correct[4] || !$scope.current.material);

              
         }
         
         $scope.right = function(){
              $scope.pieces.splice($scope.currentIndex, 1);

             var a = Math.floor( Math.random()* $scope.pieces.length);
             $scope.current = $scope.pieces[a];
              $scope.currentIndex = a;
             $scope.phaseOne = false;
             $scope.guess = [];
         }

         $scope.wrong = function(){
             var a = Math.floor( Math.random()* $scope.pieces.length);
             $scope.current = $scope.pieces[a];
              $scope.currentIndex = a;
             $scope.phaseOne = false;
             $scope.guess = [];
         }
                        
      });
      /*
      app.directive('correctAnswer', function() {
        return {
          template: function(elem, attr){
            return '<div ng-show="phaseOne">Correct answer: {{' + attr + '}}</div> ';
          }
        };
      });*/
      
      app.directive('helloWorld', function() {
        var directive = {};
        
        directive.restrict = 'AE';
        directive.replace = 'true';
        
        directive.scope={};//key:"uh"};
        //directive.scope.bart = "Shart";
        directive.template = '<h3>Hello World!!</h3>';// {{key}}';
         
      
        return directive;
      });

    app.directive("ooo", function(){
        
        
      return {
             restrict: "EA",
             scope: {
                 name: "@"
             },
             template: 'Correct answer: {{name}} '   
         };
    });

  
  </script>


</head>
<body>

<div ng-app="HelloWorldApp" class="container">
  <div ng-controller="HelloWorldController">
    <div id="quizItself" ng-show="quizMode">
      <h2>Guess the image</h2>
      <p class="text-center"><img ng-src="asian/{{current.image}}" class="img-rounded mainQuiz"></p><br>
      <br>
      <form class="form-horizontal" role="form">
        <div class="form-group" ng-show="current.title">
          <label class="control-label col-sm-2" for="title">Title:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" ng-model="guess.title">
            <div ng-show="phaseOne">
              <h5>
              <div ng-show="correct[0]"><p class="text-success">Correct!</p></div>
              <div ng-hide="correct[0]"><p class="text-danger">Correct answer: {{current.title}}</p></div>
              </h5>
            </div>
  
          </div>
        </div>
  
        <div class="form-group" ng-show="current.artist">
          <label class="control-label col-sm-2" for="artist">Artist:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="artist" ng-model="guess.artist">
            <div ng-show="phaseOne">
              <h5>
              <div ng-show="correct[1]"><p class="text-success">Correct!</p></div>
              <div ng-hide="correct[1]"><p class="text-danger">Correct answer: {{current.artist}}</p></div>
              </h5>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="current.country">
          <label class="control-label col-sm-2" for="country">Country:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="country" ng-model="guess.country">
            <div ng-show="phaseOne">
              <h5>
              <div ng-show="correct[2]"><p class="text-success">Correct!</p></div>
              <div ng-hide="correct[2]"><p class="text-danger">Correct answer: {{current.country}}</p></div>
              </h5>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="current.period">
          <label class="control-label col-sm-2" for="period">Period:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="period" ng-model="guess.period">
            <div ng-show="phaseOne">
              <h5>
              <div ng-show="correct[3]"><p class="text-success">Correct!</p></div>
              <div ng-hide="correct[3]"><p class="text-danger">Correct answer: {{current.period}}</p></div>
              </h5>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="current.material">
          <label class="control-label col-sm-2" for="material">Material:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="material" ng-model="guess.material">
            <div ng-show="phaseOne">
              <h5>
              <div ng-show="correct[4]"><p class="text-success">Correct!</p></div>
              <div ng-hide="correct[4]"><p class="text-danger">Correct answer: {{current.material}}</p></div>
              </h5>
            </div>
          </div>
        </div>
        <p class="text-center">
          <input type="submit" value="Submit guess" ng-hide="phaseOne" ng-click="submitGuess()">
            
            
          <input type="Submit" value="Continue (nice job!)" ng-show="phaseOne && allCorrect" ng-click="right()">
          <input type="Submit" value="Continue" ng-show="phaseOne && !allCorrect" ng-click="wrong()">
  
          <input type="Submit" value="Override: I was correct" ng-show="phaseOne && !allCorrect" ng-click="right()">
  
        <br>
        <br>
        {{pieces.length}} remaining out of {{originalLength}}
      
        <br>
        <br>
       <!-- <input type="Submit" ng-click="quizMode=false" value="Edit cards">-->
        
        </p>
        <br>
      </form>
    </div>
    <div id="changeCards" ng-hide="quizMode">
      <div id="cards" style="overflow:scroll; border:3px black solid; height:80vh">
      
        <div ng-repeat="piece in pieces" style="margin:5px; border:1px #aaa solid">
           {{piece.title}}, {{piece.artist}}, {{piece.material}}, {{piece.country}}, {{piece.period}}<br>
         
         
        </div>
      </div>
      <input type="Submit" ng-click="quizMode=true" value="Get quizzed">

    </div>

  </div>
</div>

</body>
</html>

